body {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--mainBackground);
}

/* Welcome page */
/* Welcome div */
.welcome {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--green);
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content by default */
  text-align: center;
  z-index: 1;
  padding-top: 4.5rem; /* Add padding to the top */
}
/* Welcome visibility */
.welcome.visible {
  display: flex;
}
/* Welcome h1 */
.welcome h1 {
  font-family: var(--font-display);
  text-transform: uppercase;
  font-size: 5rem;
  margin-top: 0;
}
/* Adjust h1 and layout for smaller screens (Smartphones) */
@media (max-width: 480px) {
  .welcome h1 {
    font-size: 2.5rem;
  }

  .welcome {
    justify-content: flex-start; /* Shift content toward the top */
    padding-top: 8rem; /* Adjust padding for spacing */
  }
}
/* Adjust h1 and layout for medium screens (Tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  .welcome h1 {
    font-size: 3.5rem;
  }

  .welcome {
    justify-content: flex-start;
    padding-top: 8rem; /* More padding for tablets */
  }
}
/* Adjust h1 and layout for slightly larger screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .welcome h1 {
    font-size: 6rem;
  }

  .welcome {
    justify-content: flex-start;
    padding-top: 10rem; /* Adjust padding for screens slightly larger than tablets */
  }
}
/* Welcome buttons */
.welcome-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Add spacing between buttons */
}
/* Welcome button */
.welcome button {
  padding: 1rem 3rem;
  margin: 0;
  min-width: 20rem;
}
/* Stack buttons vertically for smaller screens (Smartphones) */
@media (max-width: 480px) {
  .welcome-buttons {
    flex-direction: column;
    align-items: center;
  }
  .welcome button {
    width: 80%; /* Adjust button width to fit screen */
    min-width: unset;
  }
}
/* Adjust button layout for medium screens (Tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  .welcome-buttons {
    flex-direction: column;
    align-items: center;
  }
  .welcome button {
    width: 60%; /* Adjust button width to fit screen */
  }
}
/* Adjust button layout for slightly larger screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .welcome-buttons {
    flex-direction: column;
    align-items: center;
  }

  .welcome button {
    width: 50%; /* Slightly smaller width for larger screens */
  }
}

/* Header */
.header {
  padding: 0.5rem 2rem;
  background: var(--green);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
/* Header title */
.header-title {
  font-family: var(--font-display);
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
}
/* Header number */
.header-num {
  font-family: var(--font-display);
  color: var(--hotpink);
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 0.9;
}
/* Target the header when the welcome page is visible to hide its display */
.welcome.visible ~ .header {
  display: none;
}
/* Header Counters div */
.counters {
  display: flex;
}
/* Header Counters counter-item div */
.counter-item {
  margin-right: 2rem;
}

/* Main */
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
  background: var(--mainBackground);
}

/* Cards Tables */
.table {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  max-width: 80%; /* Limits the table's maximum width */
  margin: auto; /* Auto calculate left and right margins equally to center */
  padding-top: 25px;
}

.table.hidden {
  display: none;
}

/* Cards */
.card {
  width: 6rem;
  height: 6rem;
  margin: 0.5rem;
  border-radius: 0.3em;
  background-image: var(--gradient);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;  /* Allows absolute positioning of emojis in .card_content */
  transition: 0.3s;
  cursor: pointer; /* Changes cursor to pointer on hover */
  backface-visibility: hidden; /* Prevents flickering */
  transform-style: preserve-3d; /* Enables 3D transformations */
}
/* Cards hover */
.card:hover {
  transform: translateY(-5px) rotateZ(1deg); /* Shift slightly up and tilt */
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), 6px 6px 12px rgba(0, 0, 0, 0.25);
}
/* Cards content */
.card__content {
  position: absolute; /* For absolute positioning of emojis */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding-top: 0.4rem;
}
/* Make the card content visible when the card is flipped */
.card__content::selection {
  background: transparent;
}
/* Cards click logic */
.discovered {
  transform: rotateY(-180deg);
}
/* Matching logic */
/* Incorrect keyframes */
@keyframes error {
  10%,
  90% {
    transform: rotateY(-180deg) translateX(-1px);
  }
  20%,
  80% {
    transform: rotateY(-180deg) translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: rotateY(-180deg) translateX(-4px);
  }
  40%,
  60% {
    transform: rotateY(-180deg) translateX(4px);
  }
}
/* Correct keyframes*/
@keyframes success {
  from {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 1;
  }
  25% {
    transform: rotateY(-180deg) scale3d(1.1, 1.1, 1.1);
    opacity: 1;
  }
  to {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 0;
  }
}
/* Correct*/
.correct {
  pointer-events: none;
}
/* Correct cards logic */
.correct .card__content {
  animation: success 1.3s ease-in-out forwards;
}
/* Incorrect */
.error {
  animation: error 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

/* Game status messages */
/* Hide */
.next-level,
.game-over,
.end-game {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: var(--gradient);
}
/* Show */
.next-level.visible,
.game-over.visible,
.end-game.visible{
  display: flex;
}
/* Message styling */
/* Modal */
.modal {
  background: white;
  padding: 3rem 3rem 1rem;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
}
/* Modal Headings */
.modal h2 {
  color: var(--orange);
  font-family: var(--font-display);
  margin: 0;
}
/* Modal paragraphs */
.modal p {
  font-size: 1.5rem;
}
.modal button {
  margin: 1rem 0;
}

/* Buttons */
/* All buttons */
button {
  cursor: pointer;
  border: 0;
  background-image: var(--gradient);
  padding: 0.75rem 4rem;
  border-radius: 5rem;
  color: white;
  font-family: var(--font-display);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
  transition: 0.3s;
}
/* All buttons hover */
button:hover,
button:focus {
  opacity: 0.9;
  outline: 0;
}
/* Modal buttons */
.modal-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Restart button */
.modal .restart, .menu {
  color: var(--hotpink);
  background: transparent;
  border: 0;
  text-transform: capitalize;
  font-family: var(--font);
  font-size: 1rem;
  margin: 0;
}

.sound{
  display: none;
}

.stopwatch-hidden{
  display: none;
}

.control-level{
  position: absolute;
  font-size: .8rem;
  top: 2.9rem;
  right: .5rem;
  padding: 0;
  width: 1.1rem;
  height: 1.1rem;
  line-height: .68rem;
  display: flex;
  justify-content: center;
  background: var(--hotpink);
}

.control-hidden{
  display: none;
}

/* Level Selector */
/* Level Selector div */
.select-level{
  background-color: var(--hotpink);
  position: fixed;
  width: 250px;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(250px);
  transition: transform .3s;
  padding: 1rem 2rem;
}
/* Level Selector visibility */
.select-level.visible{
  transform: translateX(0);
}
/* Level Selector button */
.select-level button{
  background: transparent;
  padding: 0;
}
/* Level Selector ul */
.select-level ul{
  list-style: none;
  padding-left: 0;
  margin-top: 2rem;
}
/* Level Selector li */
.select-level li{
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 3.5rem;
}
/* Close levels menu button */
.close-levels{
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 300;
}

.level-menu .menu {
  position: fixed;
  top: 0.4rem;
  left: 0.5rem;
  z-index: 1000; /* Ensure it's above other elements */
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: var(--font-display);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.level-menu .menu:hover {
  background: var(--orange);
}
