@use './_variables' as *;

section.about {
  display: flex;
  flex-direction: column;

  .empty {
    background: var(--grey);
    border-radius: var(--border-radius);
    flex: 0.5;
  }

  article {
    display: flex;
    flex-direction: column;
    flex: 2;

    .title {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--blue);
      border-radius: var(--border-radius);
      padding: 20px;
    }

    .description {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--pink);
      border-radius: var(--border-radius);
      padding: 20px;
      color: var(--black);
      flex: 2.5;
    }
  }
}

// Media Queries
