@use './_variables' as *;

section.about {
  display: flex;
  flex-direction: column;

  .empty {
    flex-basis: auto;
    height: 150px;
    background: var(--grey);
    border-radius: var(--border-radius);
  }

  article {
    display: flex;
    flex-direction: column;
    flex: 1;

    .title {
      flex: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--blue);
      border-radius: var(--border-radius);
      padding: 20px;
      font-size: 18px;
    }

    .description {
      flex: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--pink);
      border-radius: var(--border-radius);
      padding: 20px;
      font-size: 16px;
      color: var(--black);
    }
  }
}
