@use './_breakpoints' as *;

section.service {
  article {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: var(--green);
    border-radius: var(--border-radius);
    flex: 1;

    img {
      width: 40%;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--text-background);
    padding: var(--gutter);
    border-radius: var(--border-radius);
    flex: 2;
  }
}

section.service.service-html {

  figure {
    background: var(--green);
  }

  .text h2, .text a {
    color: var(--pink);
  }
}

section.service.service-css {

  figure {
    background: var(--blue);
  }

  .text h2, .text a {
    color: var(--green);
  }
}

section.service.service-js {

  figure {
    background: var(--pink);
  }

  .text h2, .text a {
    color: var(--blue);
  }
}

section.service.service-html.sticky,
section.service.service-css.sticky,
section.service.service-js.sticky {
  position: sticky;
  margin-top: 60px;
}

// Media Queries
@include respond(tablet) {
  section.service {
    article {
      flex-direction: row;
    }

    figure {
      flex: 1;

      img {
        width: 60%;
      }
    }

    .text {
      flex: 1;
      align-items: flex-start;
    }
  }

  section.service.service-html.sticky,
  section.service.service-css.sticky,
  section.service.service-js.sticky {
    margin-top: 100px;
  }
}

@include respond(small-laptop) {
  section.service {
    figure {
      flex: 2;
    }
  }
}
