@use './_variables' as *;

section.service {
  display: flex;
  flex-direction: column;

  article {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: var(--green);
    border-radius: var(--border-radius);
    flex: 1;

    img {
      width: 40%;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1f1a1c;
    padding: 20px;
    border-radius: var(--border-radius);
    flex: 2;
  }
}

section.service.service-html {

  figure {
    background: var(--green);
  }

  .text h2, .text a {
    color: var(--pink);
  }
}

section.service.service-css {

  figure {
    background: var(--blue);
  }

  .text h2, .text a {
    color: var(--green);
  }
}

section.service.service-js {

  figure {
    background: var(--pink);
  }

  .text h2, .text a {
    color: var(--blue);
  }
}

section.service.service-html.sticky,
section.service.service-css.sticky,
section.service.service-js.sticky {
  position: sticky;
  margin-top: 60px;
}

// Media Queries
