@use './_breakpoints' as *;

h1 {
  line-height: 1.2em;
  margin: 0px;
}

h2 {
  margin: 0px;
}

a {
  color: var(--white);
  text-decoration: none;
  font-family: "Space Mono", serif;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
  top: 60px;
  z-index: 2;
}

// Media Queries
@include respond(tablet) {
  section {
    height: calc(100vh - 100px);
    top: 100px;
  }
}
