@use './_variables' as *;

h1 {
  font-size: clamp(28px, 9.375vw, 70px);
  line-height: 1.2em;
  margin: 0px;
}

h2 {
  font-size: clamp(22px, 7.5vw, 60px);
  margin: 0px;
}

a {
  color: var(--white);
  text-decoration: none;
  font-size: clamp(18px, 6.25vw, 22px);
  font-family: "Space Mono", serif;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
  top: 60px;
  z-index: 2;
}

// Media Queries
